.App {
  max-width: 1400px;
  margin: 2rem auto 2rem auto;
  padding: 0 10px;
  text-align: center;
}

.loader {
  margin-top: 20px;
}

.transition-enter {
	opacity: 0;

	&-active {
		opacity: 1;
		transition: opacity 0.3s ease-in;
	}
}

